			*{
				margin: 0;
				padding:0;
				border:0;
				word-wrap:break-word;
				font:#333;
			}
			body{
				margin: 0;
				padding:0;
				border:0;
				min-width: 960px;
				background: #f0f0f0;
			}
			#wrapper{
				margin:0 auto;
				width:960px;
				border:0;
				padding:0;
			}
			#header{
				margin: 0 auto;
				width:960px;
				height:60px;
			}
			#header>h2{
				width:150px;
				font: orange Cursive;
				text-align: left;
				margin:0;
			}
			
			#nav{
				width:960px;
				height: 40px;
				/*margin: 0 auto;*/
				padding:0;
				margin-bottom: 10px;

			}
			#nav ul
			{
				width:960px;
				height: 40px;
				position: relative;
				background: #333;
				color: white;
				padding:0;
				text-align: center;
				line-height: 40px;
			}
			#nav li
			{
				display: inline;
				
			}
			#nav li a{
				position: absolute;
				top:0;
				display: block;
				height: 40px;
				width:208px;
				text-decoration: none;
				color:white;
			}
			#nav li a:link{
				color:white;
			}
			#nav li a:hover{
				color:#333;
				background:white;
			}
			a[title="Home"]{
				left:0;
			}
			a[title="Blog"]{
				left:208px;
			}
			a[title="Contant"]{
				left:416px;
			}
			#ContantWrapper{
				width: 960px;
				height:auto;
				border-top: 1px solid #ccc;
				margin:0 auto 10px 0;
			}
			div#footer{
				text-align: center;
			}



			a{
				text-decoration: none;
			}
			a:link{
				color: #ff8447
			}
			a:hover{
				color: #478cff;
			}