			*{
				margin: 0;
				padding:0;
				border:0;
				word-wrap:break-word;
				font:#333;
			}
			body{
				margin: 0;
				padding:0;
				border:0;
				min-width: 960px;
				background: #f0f0f0;
			}
			#wrapper{
				margin:0 auto;
				width:960px;
				border:0;
				padding:0;
			}
			#header{
				margin: 0 auto;
				width:960px;
				height:60px;
			}
			#header>h2{
				width:150px;
				font: orange Cursive;
				text-align: left;
				margin:0;
			}
			a{
				text-decoration: none;
			}
			a:hover{
				color: yellow;
			}
			#nav
			{
				width:960px;
				height: 60px;
				margin: 0 auto;
			}
			#ContantWrapper{
				width: 960px;
				height:auto;
				border-top: 1px solid #ccc;
				margin:0 auto 10px 0;
			}
			div#footer{
				text-align: center;
			}